{% extends 'base.twig' %}
{% block content %}
    <section class="page hello" data-namespace="hello" dir="ltr" data-part="">
        <div class="carousel">
            <div class="carousel_cell">
                <img class="img" src="{{site.theme.uri}}/assets/image/image.png">
            </div>
            <div class="carousel_cell">
                <img class="img" src="{{site.theme.uri}}/assets/image/image.png">
            </div>
            <div class="carousel_cell">
                <img class="img" src="{{site.theme.uri}}/assets/image/image.png">
            </div>
            <div class="carousel_cell">
                <img class="img" src="{{site.theme.uri}}/assets/image/image.png">
            </div>
        </div>
        <div class="infos_band">
            <div class="categorie infos_band_item">
                <div class="type">Categorie</div>
                <div class="info">Hôtel</div>
            </div>
            <div class="projet infos_band_item">
                <div class="type">Projet</div>
                <div class="title_part">Le pin hotel</div>
            </div>
            <div class="location infos_band_item">
                <div class="type">Location</div>
                <div class="info">Nice</div>
            </div>
            <div class="date infos_band_item">
                <div class="type">Date</div>
                <div class="info">2020</div>
            </div>
        </div>
        <div class="prev_next_band">
            <div class="prev_next_band_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="prev_next_band_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="prev_next_band_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="prev_next_band_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="prev_next_band_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
        </div>

    </section>
{% endblock %}