{% extends 'base.twig' %}
{% block content %}
    <section class="page projets" data-namespace="projets" dir="ltr" data-part="">
        <div class="heroe">
            <h2 class="title_part">Projects</h2>
            <div class="nav_projects">
                <div class="nav_projects_categories">
                    <div class="nav_item nav_item_select"><span class="nav_item_dash">—</span>Tous les projets</div>
                    <div class="nav_item"><span class="nav_item_dash">—</span>hotel</div>
                    <div class="nav_item"><span class="nav_item_dash">—</span>hotel</div>
                    <div class="nav_item"><span class="nav_item_dash">—</span>hotel</div>
                    <div class="nav_item"><span class="nav_item_dash">—</span>hotel</div>
                </div>
                <div class="nav_projects_format">
                    <div class="nav_item nav_item_select"><span class="nav_item_dash">—</span>images</div>
                    <div class="nav_item"><span class="nav_item_dash">—</span>tableau</div>
                </div>
            </div>
        </div>
        <div class="wall">
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
            <div class="wall_item">
                <div class="image_container"><img class="img" src="{{site.theme.uri}}/assets/image/image.png"></div>
                <h3 class="legend_part">Hôtel — <span class="flute">Le Pin Hotel</span> — 2020</h3>
            </div>
        </div>
        <div class="table">
            <div class="table_part">
                <div class="legends">
                    <div class="type legends_categorie">Categorie</div>
                    <div class="type legends_project">Projet</div>
                    <div class="type legends_location">Localisation</div>
                    <div class="type legends_date">Date</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
                <div class="project">
                    <div class="info project_categorie">Hotel</div>
                    <div class="title_part project_project">Le pin Hotel</div>
                    <div class="info project_location">Nice</div>
                    <div class="info project_date">2020</div>
                </div>
            </div>
            <div class="visual_part">
                <div class="image_container"><img class="img lazyload" src="{{site.theme.uri}}/assets/image/image.png"></div>
            </div>
        </div>
    </section>
{% endblock %}